recursive-include src/cozmo_desktop/code_lab/static *
recursive-include frontend/scratch *.py *.js *.json *.svg
recursive-include examples/scratch *.sb3
include scripts/build-scratch.sh
recursive-include docs *.md
